body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background: #b0c6f3;
 
}

.container {
  text-align: center;
  background: white;
  padding: 2em;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
  max-width: 300px;
  width: 90%;
}

#counter {
  font-size: 4rem;
  margin: 1rem 0;
}

.buttons {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

button {
  padding: 1rem;
  font-size: 2rem;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  background-color: #3b82f6;
  color: white;
  
  transition: background 0.3s;
}

button:hover {
  background-color: #b6eefd;
}

.reset {
  margin-top: 1rem;
  background-color: #dcf487;
}

.reset:hover {
  background-color: #e27d76;
}
